doctype html
html
    append head    
        title=title
        link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js")
        script(type="text/javascript" src="https://cdn.auth0.com/js/auth0/9.2/auth0.min.js")
        script(type="text/javascript" src="https://cdn.auth0.com/js/lock/11.2/lock.min.js")
        script(type="text/javascript" src='//use.typekit.net/iws6ohy.js')
        //- script
        //-     include auth0-variables.js
        //-     include app.js
        
            
    body
    h1.text-center auth0 app
        nav.container.navbar.navbar-expand
            
            ul.navbar.navbar-nav
                li.nav-item(style="padding-left:30px")  
                    a(href="/").nav-link Home
                if (loggedIn==true)
                    li.nav-item
                        a(href='/user').nav-link User
                    li.nav-item
                        a(href='/logout').nav-link Log Out
                    

                if (loggedIn==false)
                    li.nav-item
                        a(href='/login').nav-link Sign In
    block content