
extends theme
block content
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
        
        

        
        div.container
        div.row(style="padding:15px")
            h1 Heya #{user.nickname}
        div.row
            img(src=user.picture)
    
            